
whatdafreak/.godot/editor/Chaser.tscn-editstate-3fda6e0ed9ed75b14137064f6180714d.cfg
whatdafreak/.godot/editor/Chaser.tscn-folding-3fda6e0ed9ed75b14137064f6180714d.cfg
whatdafreak/.godot/editor/editor_layout.cfg
whatdafreak/.godot/editor/filesystem_cache8
whatdafreak/.godot/editor/filesystem_update4
whatdafreak/.godot/editor/Player.tscn-editstate-90e1ff3baa03524a506ff0f7a9d78dcf.cfg
whatdafreak/.godot/editor/Player.tscn-folding-90e1ff3baa03524a506ff0f7a9d78dcf.cfg
whatdafreak/.godot/editor/project_metadata.cfg
whatdafreak/.godot/editor/script_editor_cache.cfg
whatdafreak/.godot/editor/World.tscn-editstate-73d50b7f59085c9a9ce28353ee849bb1.cfg
whatdafreak/.godot/editor/World.tscn-folding-73d50b7f59085c9a9ce28353ee849bb1.cfg
whatdafreak/.godot/global_script_class_cache.cfg
whatdafreak/.godot/imported/troy.PNG-11d1c1f4f7fcc5f30f4f5e48ec58a715.md5
whatdafreak/.godot/imported/troy.PNG-11d1c1f4f7fcc5f30f4f5e48ec58a715.s3tc.ctex
whatdafreak/.godot/uid_cache.bin
whatdafreak/Chaser.tscn
whatdafreak/Player.tscn
whatdafreak/project.godot
whatdafreak/troy.PNG.import
whatdafreak/World.tscn
